#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#cont {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 36%;
  transform: translateY(-50%);
}

#inp {
  text-align: center;
  padding: 5px;
  top: 20%;
  color-scheme: white;
}

#inp2 {
  text-align: center;
  padding: 5px;
  top: 20%;
}

#sel1 {
  text-align: center;
  padding: 5px;
  top: 20%;
  color-scheme: white;
}

#sel2 {
  text-align: center;
  padding: 5px;
  color-scheme: white;
}


#res{
  text-align: center;
}

#yey{
  text-align: center;
}

#but {
  text-align: center;
  padding: 10px;
}

#but2 {
  text-align: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  color-scheme: white;
}